* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {

  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header-container {

  height: 748px;



}

.logo-nav img {
  position: absolute;
  height: 49px;
  width: 214px;
  top: 30px;
  left: 50px;



}

.header-text {
  position: absolute;
  bottom: 45%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  font-size: 36px;
  text-align: center;

  justify-content: center;

  gap: 5px;
  filter: drop-shadow(9px 5px 5px #28282B);

}


nav ul {
  position: absolute;
  display: flex;
  gap: 70px;
  /* width: 94px; */
  height: 19px;
  top: 43px;
  right: 95px;
  font-size: 1.4vw;
}

nav ul div a {
  color:
    rgb(100%, 100%, 100%);
  text-decoration: none;
  filter: drop-shadow(12px 7px 6px black);
}

.small-button {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 12px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
}

#about {
  display: flex;
  gap: 20px;
  padding: 50px;
  /* background-color: #f5f5f5; */
}

.about-container {
  display: flex;
  gap: 20px;
  margin-left: 5%;
  margin-top: 14%;
}

.about-image1 img {
  width: 487px;
  height: 372px;
  margin-top: 87px;
}

.about-image2 {
  position: absolute;
  margin-top: 18.3%;
  margin-left: 10%;

}

.about-image2 img {
  width: 395px;
  height: 285px;
  margin-top: 32px;
}

.about-content {
  margin-top: 25%;
  margin-left: 7%;
  padding-right: 18%;
}

.about-content h2 {
  font-size: 28px;
  color: #002855;
  margin-top: -22%;
}

.aboutpara {
  font-size: 1.2vw;
}




.tapered {
  position: absolute;
  width: 2.5%;
  height: 5px;
  background-color: red;
  margin-top: -139px;

}

#WCU-contain {
  margin-top: 190px;
  gap: 20px;
  padding: 50px;

}

.wcu-section h2 {
  text-align: center;

}

.wcu-tape {
  position: absolute;
  width: 2.5%;
  height: 3px;
  background-color: red;
  margin-left: 882px;
}

.wcu-para {
  font-size: 1.2vw;
}

.content-text p {
  font-size: 1.2vw;
}

.content-text1 p {
  font-size: 1.2vw;
}

.content-section {
  display: flex;
  align-items: center;



}

.content-container {
  display: flex;
  /* flex-direction: column; */
}

.content-text {
  margin-left: 100px;
}

.content-container img {
  width: 556px;
  height: 408px;
  top: 100px;
  /* top: 1564px; */
  /* left: 121px; */
}

.content-container reverse {
  margin-top: 49px;
}

.content-text1 {
  margin-top: 25px;
  padding-left: 26%;
  padding-right: 4%;

}

.content-text1 h2 {
  text-align: end;
}

.team-section {

  gap: 20px;
  padding: 50px;
}

.team-heading h1 {
  text-align: center;
  margin-top: 90px;
  font-size: 2em;
}

.underline {
  position: absolute;
  width: 2.7%;
  height: 3px;
  background-color: red;
  margin-left: 877px;
}

.team-member {
  display: flex;
  gap: 103px;
  margin-top: 44px;
}

.member-image {
  margin-left: 10px;
}

.member-image img {
  width: 240px;
  height: 245px;
}

footer {
  width: 100vw;
  height: 50vh;
  background-color: #0151A6;
  ;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  color: #01a627;
}

.footer-info {
  margin-bottom: 10px;
  align-items: center;
  font-size: 1.5vw;

}

.footer-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 1.3vw;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  gap: 71px;
}

.footer-nav li {
  margin-right: 20px;
}

.footer-nav a {
  text-decoration: none;
  color: #fcf7f7;
}

.social-media {
  gap: 32px;
  margin: 10px 0;
  display: flex;
}


.social-media img {
  margin-right: 10px;
  color: #fff;
}

.social-media img {
  font-size: 24px;
  height: 29px;
  width: 29px;
  border-radius: 4px;
  justify-content: center;
}

.footer-logo img {
  width: 345px;
  height: 79px;

}



@media (min-width:1440px) and (max-width:1580px) {
  .header-text {
    bottom: 45%;
  }

  #about {
    margin-top: -245px;
  }

  .about-container {
    margin-top: 18%;
  }

  .tapered {
    margin-top: -66px;
  }

  #WCU-contain {
    margin-top: 66px;
  }

  .wcu-tape {
    margin-left: 666px;
  }

  .underline {
    margin-left: 646px;
  }

  .content-text1 {
    margin-top: 25px;
    padding-left: 9%;
    padding-right: 4%;
  }

  footer {
    height: 63vh;
  }
}

@media (max-width:1024px) {
  nav ul {
    gap: 23px;
    right: 20px;
  }

  .header-text {
    bottom: 66%;

  }

  .about-container {
    margin-top: 19%;
  }

  #about {
    margin-top: -40%;
  }

  .about-image1 img {
    width: 358px;
    height: 268px;
    margin-top: 62px;
  }

  .about-image2 img {
    width: 358px;
    height: 268px;
    margin-top: 84px;
  }

  .about-image2 {
    position: absolute;
    margin-top: 17.3%;
    margin-left: 13%;
  }

  .about-content {
    margin-top: 22%;
    margin-left: 18%;
    padding-right: 4%;
  }

  .about-content h2 {
    font-size: 28px;
    color: #002855;
    margin-top: -14%;
  }

  .tapered {
    margin-top: -10px;
  }

  #WCU-contain {
    margin-top: 10px;
  }

  .wcu-tape {
    width: 3.5%;
    margin-left: 455px;
  }

  .content-container img {
    width: 406px;
    height: 264px;
  }

  .content-text1 {
    margin-top: 29px;
    padding-left: 0%;
    padding-right: 4%;
  }

  .underline {
    width: 4.7%;
    margin-left: 436px;
  }

  footer {
    height: 63vh;
  }





}

@media (max-width:435px) {
  .logo-nav img {
    height: 32px;
    width: 135px;
    top: 14px;
    left: 24px;
  }

  nav ul {
    display: none;
    /* visibility: hidden; */
  }

  .header-text {
    position: absolute;
    bottom: 608px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;

    justify-content: center;

    gap: 5px;
    filter: drop-shadow(9px 5px 5px #28282B);

  }

  .header-container {
    width: 100%;
    /* height: 10vh; */
  }


  footer {
    height: 27vh;
    width: 100%;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    color: #01a627;

  }

  .footer-info {
    /* margin-bottom: 10px;
  align-items: center; */
    font-size: 3.5vw;

  }

  .footer-nav {
    display: none;
  }

  .footer-nav ul {
    display: flex;
    justify-content: center;
    gap: 71px;
  }




  .social-media {
    gap: 33px;
    /* margin: 10px 0;
    display: flex; */
  }





  .footer-logo img {
    width: 169px;
    height: 35px;

  }

  #about {
    margin-top: -40px;
    padding: 20px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
    margin-top: -90%;
  }

  /* First Image */
  .about-image1 img {
    width: 221px;
    height: 185px;
    margin-left: -140px;
    margin-top: -90%;
  }

  /* Second Image */
  .about-image2 {
    position: relative;
    margin: 0;
    margin-top: -50px;
    /* Overlap with first image */
  }

  .about-image2 img {
    width: 221px;
    height: 185px;
    max-width: 250px;
    margin-top: -16%;
    margin-left: 21%;
  }

  /* Content Section */
  .about-content {
    margin: 20px 0;
    padding: 0 15px;
    text-align: center;
  }

  .tapered {
    display: none;
    width: 40px;
    height: 3px;
    background-color: red;
    margin: 10px auto;
  }

  .about-content h2 {
    font-size: 24px;
    color: #002855;
    margin: 10px 0;
  }

  .aboutpara {
    margin-top: 15px;
  }

  .aboutpara p {
    font-size: 14px !important;
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: justify;
  }

  #WCU-contain {
    margin-top: -18%;
  }


  .wcu-section p {
    font-size: 16px;
    /* Adjust the font size as needed */
    line-height: 1.5;
  }

  .wcu-tape {
    display: none;
  }

  .wcu-tape p {
    font-size: 3.2vw;
  }

  .content-container img {
    width: 120px;
    height: 144px;
  }

  .content-text {
    margin-left: 17px;
  }

  .content-text p {
    font-size: 3.2vw;
  }

  .content-text1 p {
    font-size: 3.2vw;
  }

  .team-member {
    display: flex;
    gap: 20px;
    margin-top: -17px;
  }

  .member-image {
    margin-left: -79px;
  }

  .member-image img {
    width: 110px;
    height: 180px;
  }

  .member-info p {
    font-size: 3.2vw;
  }

  .underline {
    display: none;
  }

  .content-text p {
    font-size: 3.4vw;
  }

  .content-text1 p {
    font-size: 3.4vw;
  }

  .content-container img {
    margin-top: 47%;
  }

  /* .contain-section {
  width: 94vw; 
} */
  .hamburger-menu {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #002855;
    margin: 5px 0;
    transition: 0.4s;
  }

  /* Hamburger Animation */
  .hamburger-menu.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /* Mobile Navigation */
  .mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 40, 85, 0.95);
    z-index: 999;
  }

  .mobile-nav.active {
    display: block;
  }

  .mobile-nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .mobile-nav ul li {
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.5s forwards;
  }

  .mobile-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
  }

  .mobile-nav .small-button {
    background: red;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }

  /* Animation for menu items */
  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Add animation delay for each menu item */
  .mobile-nav.active ul li:nth-child(1) {
    animation-delay: 0.1s;
  }

  .mobile-nav.active ul li:nth-child(2) {
    animation-delay: 0.2s;
  }

  .mobile-nav.active ul li:nth-child(3) {
    animation-delay: 0.3s;
  }

  .mobile-nav.active ul li:nth-child(4) {
    animation-delay: 0.4s;
  }

  .mobile-nav.active ul li:nth-child(5) {
    animation-delay: 0.5s;
  }

  .mobile-nav.active ul li:nth-child(6) {
    animation-delay: 0.6s;
  }

  .mobile-nav.active ul li:nth-child(7) {
    animation-delay: 0.7s;
  }

  .mobile-nav.active ul li:nth-child(8) {
    animation-delay: 0.8s;
  }
}